
{% extends "::layout.html.twig" %}

{% block body %}
		<h2>Espace principal</h2>
        <div>
            {% block principal_content %}
            {% endblock principal_content %}
        </div>

{% endblock %}